* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    background-color: #FEEAD1;
}

#header {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}



.navbar {
    overflow: hidden;
    background-color: #65451F;
    text-align: center;
}

    .navbar a {
        float: right;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.nbItem, .dropdown.nbItem {
    min-width: 5%;
    margin: 10px;
    border-radius: 10px;
}

    .dropdown.nbItem button {
        width: 100%;
    }

.dropdown {
    float: right;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

.navbar .nbItem {
    transition: 0.3s ease;
}

    .navbar .nbItem:hover {
        background-color: #705028;
    }

.navbar i {
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        transition: 0.3s ease;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: rgb(197, 202, 206);
        }

.dropdown:hover .dropdown-content {
    display: block;
}

#logoHead {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/condo.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

    #logoHead .imgCont {
        text-align: center;
    }

        #logoHead .imgCont img {
            width: 70%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

#application {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

    #application button {
        padding: 20px;
        font-size: 20px;
        font-weight: 500;
        color: aliceblue;
        background-color: #765827;
        border: none;
        border-radius: 5px;
        width: 400px;
        transition: 0.3s ease;
    }

        #application button:hover {
            background-color: #8d6e3d;
        }

#ssCont {
    margin-bottom: 50px;
}

    #ssCont .mySlides {
        display: none
    }

    #ssCont img {
        vertical-align: middle;
    }

footer {
    background-color: #65451F;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    text-align: left;
}

    .column h4 {
        margin-bottom: 10px;
    }

    .column p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .column i {
        color: aliceblue;
        margin-right: 10px;
        font-size: 20px;
        transition: 0.3s ease;
    }

a {
    text-decoration: none;
}

.column i:hover {
    color: rgb(255, 255, 183);
}

.colBorder {
    width: 2px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff 50%, rgba(255, 255, 255, 0));
    margin-right: 20px;
}

.column img {
    width: 80%;
}

.column h2 {
    max-width: 80%;
    text-align: center;
    margin-top: 10px;
    text-shadow: 1px 1px 1px black;
}

#foot2 {
    background-color: #422c10;
}

.footCont {
    text-align: center;
    margin-top: 40px;
}

.column2 p {
    margin-bottom: 5px;
}

#confirmation-details {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-color: burlywood;
    background-color: #FEEAD1;
    display: none;
}

    #confirmation-details h3 {
        color: #333;
    }


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
