@model RentalManagement.Models.Supplier

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Suppliers_Name" class="control-label"></label>
                <input asp-for="Suppliers_Name" class="form-control" />
                <span asp-validation-for="Suppliers_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suppliers_Email" class="control-label"></label>
                <input asp-for="Suppliers_Email" class="form-control" />
                <span asp-validation-for="Suppliers_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suppliers_PhoneNumber" class="control-label"></label>
                <input asp-for="Suppliers_PhoneNumber" class="form-control" />
                <span asp-validation-for="Suppliers_PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suppliers_Address" class="control-label"></label>
                <input asp-for="Suppliers_Address" class="form-control" />
                <span asp-validation-for="Suppliers_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier_CreatedAt" class="control-label"></label>
                <input asp-for="Supplier_CreatedAt" class="form-control" />
                <span asp-validation-for="Supplier_CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier_UpdatedAt" class="control-label"></label>
                <input asp-for="Supplier_UpdatedAt" class="form-control" />
                <span asp-validation-for="Supplier_UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
