@model RentalManagement.Models.Tenant;

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Kerwin's Apartment</title>
    <link rel="icon" type="image/x-icon" href="images/logo2.svg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" >
    <script src="home.js"></script>
</head>
<body style="background-color:#FEEAD1">
    <header>
        <div class="navbar">
            <a href="@Url.Action("Index", "Home")" class="nbItem" id="homeOpt"><i class="fa-solid fa-house"></i></a>
        </div>
    </header>

    <container class="d-flex justify-content-center" style="margin-block: 30px">
        <div class="card text-white bg-primary mb-3" style="width:50%">
            <div class="card-header" style="background-color:#422c10;">
                <h4 class="card-title">Tenant Login</h4>
            </div>
            <div class="card-body" style="background-color:#65451F;">
                @if (ViewData["LoginErrorMessage"] != null)
                {
                    <div class="alert alert-dismissible alert-danger" style="margin-block:10px">
                        <strong>Failed Login! </strong>Incorrect Username or Password.
                    </div>
                }
                <form asp-action="Index">
                    <div class="form-group">
                        <label class="form-label mt-4">Login Details</label>
                        <div class="form-floating mb-3">
                            <input asp-for="Tenant_UserName" type="string" class="form-control" placeholder="UserName">
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Tenant_Password" type="password" class="form-control" placeholder="Password" autocomplete="off">
                            <label for="floatingPassword">Password</label>
                            <div class="d-flex justify-content-sm-end">
                                <button type="button" value="ForgotPassword" class="btn btn-light" style="margin-top:15px; font-size: 15px">Forgot Password?</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-success" style="font-size: 20px">
                        </div>
                        <div style="margin-top:10px;">
                            <label class="form-label mt-4">No Account Yet?</label><br />
                            <a asp-action="RegisterAccount" type="button" class="btn btn-dark" style="font-size: 15px">Register Account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </container>

    <footer>
        <div class="footer-columns">
            <div class="column" id="col">
                <img src="images/logo.svg" alt="">
                <h2>Kerwin's Apartment</h2>
            </div>
            <div class="colBorder"></div>
            <div class="column">
                <h4>About</h4>
                <p>About us</p>
                <p>Rental Information</p>
                <p>Rent Rates and Policies</p>
                <p>Terms and Condition</p>
                <p>Community Information</p>
            </div>
            <div class="colBorder"></div>
            <div class="column" id="col">
                <h4>Contact us</h4>
                <p>+63 9123456789</p>
                <p>kerwin.rental@kerwin.com.ph</p>
                <p>Paknaan, Mandaue City, Cebu 6014</p>
                <p>Kerwin's Apartment</p><br>
                <h4>Follow us</h4>
                <a href="https://www.facebook.com/">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.pinterest.com/">
                    <i class="fa-brands fa-pinterest"></i>
                </a>
                <a href="https://www.youtube.com/">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>


    </footer>

    <footer id="foot2">
        <div class="footCont">
            <div class="footCont2">
                <div class="column2">
                    <p>Web Application developed by <b>DPMS 2023</b></p>
                    <p>Delig • Pila • Monares • Salas</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>


