@model RentalManagement.Models.Inventory

@{
    ViewData["Title"] = "Edit Item";
}

<h1>Edit</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InventoryId" />
            <div class="form-group">
                <label asp-for="Inventory_ItemName" class="control-label">Item Name</label>
                <input asp-for="Inventory_ItemName" class="form-control" />
                <span asp-validation-for="Inventory_ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory_ItemQuantity" class="control-label">Item Quantity</label>
                <input asp-for="Inventory_ItemQuantity" class="form-control" />
                <span asp-validation-for="Inventory_ItemQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory_ItemUnit" class="control-label">Quantity Unit</label>
                <input asp-for="Inventory_ItemUnit" class="form-control" />
                <span asp-validation-for="Inventory_ItemUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inventory_UpdatedAt" class="control-label">Date Edited</label>
                <input type="datetime" asp-for="Inventory_UpdatedAt" class="form-control" value="@DateTime.Now" disabled />
                <span asp-validation-for="Inventory_UpdatedAt" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
