@model RentalManagement.Models.Applicants

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Applicants</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationId" />
            <div class="form-group">
                <label asp-for="Applicants_FirstName" class="control-label"></label>
                <input asp-for="Applicants_FirstName" class="form-control" />
                <span asp-validation-for="Applicants_FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicants_MiddleName" class="control-label"></label>
                <input asp-for="Applicants_MiddleName" class="form-control" />
                <span asp-validation-for="Applicants_MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicants_LastName" class="control-label"></label>
                <input asp-for="Applicants_LastName" class="form-control" />
                <span asp-validation-for="Applicants_LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicants_Email" class="control-label"></label>
                <input asp-for="Applicants_Email" class="form-control" />
                <span asp-validation-for="Applicants_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicants_PhoneNumber" class="control-label"></label>
                <input asp-for="Applicants_PhoneNumber" class="form-control" />
                <span asp-validation-for="Applicants_PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicants_Address" class="control-label"></label>
                <input asp-for="Applicants_Address" class="form-control" />
                <span asp-validation-for="Applicants_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicant_CreatedAt" class="control-label"></label>
                <input asp-for="Applicant_CreatedAt" class="form-control" />
                <span asp-validation-for="Applicant_CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicant_UpdatedAt" class="control-label"></label>
                <input asp-for="Applicant_UpdatedAt" class="form-control" />
                <span asp-validation-for="Applicant_UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
